<% content_for :slider do %>
    <h1 class="h1_first">Profiles</h1>
      <table border=1 cellpadding="10">
        <tr>
                    <th>Screen name</th>
                    <th>Website</th>
                    <th>bio</th>
                    <th></th>
        </tr>
<% @profiles.each do |profile| %>
        <tr>
                    <td><%=link_to profile.screen_name, profile %></td>
                    <td><%= profile.website %></td>
                    <td><%= profile.bio %></td>
        </tr>
      <% end %>
      </table>
<% end %>




